{
	email letsencrypt@cadot.eu
	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

DIRECTORY.localhost {
	encode gzip zstd
	reverse_proxy localhost:NUMPORT
	header {
		Cache-Control public, max-age=31536000
	}
}
