<div class="alert alert-warning d-flex align-items-center editorjs-block-warning" role="alert">
	<i class="bi bi-exclamation-triangle-fill me-2"></i>
	{# Icône Bootstrap pour un warning #}
	<div>
		<strong>{{ block.data.title }}</strong><br>
		{{ block.data.message }}
	</div>
</div>
